<a target="_blank" href="https://colab.research.google.com/github/lukebarousse/Python_Data_Analytics_Course/blob/main/4_Problems/1_12_Operators Part 2.ipynb">
  <img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/>
</a>

## ðŸŸ© Check Object Identity (1.12.1)

In [3]:
# Code Needed
job_title1 = 'Data Engineer'
job_title2 = 'Data Scientist'

print(job_title1 is not job_title2)

True

---

## ðŸŸ© Check Membership in List (1.12.2)

In [5]:
# Code Needed
job_locations = ['New York', 'San Francisco', 'Austin']

print('New York' in job_locations)

True

---

## ðŸŸ¨ Check Substring Not in String (1.12.3)

In [9]:
# Code Needed
job_title = 'Data Analyst'
job_description = 'Data Scientist at Tech Corp'

print(job_title not in job_description)

True

---

## ðŸŸ¨ Check Multiple Memberships (1.12.4)

In [12]:
# Code Needed
job_titles = ['Data Scientist', 'Data Analyst', 'Machine Learning Engineer']

print('Data Analyst' in job_titles and 'Machine Learning Engineer' in job_titles)

True

---

## ðŸŸ¥ Bitwise OR Operation (1.12.5)

In [15]:
# Code Needed
salary1 = 100000
salary2 = 50000

result = salary1 | salary2
print(result)

116720

---