<a target="_blank" href="https://colab.research.google.com/github/lukebarousse/Python_Data_Analytics_Course/blob/main/4_Problems/1_22_NumPy.ipynb">
  <img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/>
</a>

## ðŸŸ© Create NumPy Array (1.22.1)

In [4]:
# Code Needed
applications_list = [10, 15, 7, 20, 25, 30, 5]

import numpy as np

applications = np.array(applications_list)

print(applications)

[10 15  7 20 25 30  5]

---

## ðŸŸ© Slicing Array (1.22.2)

In [11]:
# Code Needed
postings_list = [10, 15, 7, 20, 25, 30, 5]


import numpy as np

postings = np.array(postings_list)

list[postings_list[0:3]]

list[[10, 15, 7]]

In [12]:
# or use:
import numpy as np
postings_list = [10, 15, 7, 20, 25, 30, 5]
postings = np.array(postings_list)
first_three_postings = postings[:3]
print(first_three_postings)

[10 15  7]

---

## ðŸŸ¨ Highest and Lowest Salary (1.22.3)

In [19]:
# Code Needed
salaries_list = [70000, 85000, 60000, 95000, 80000]

import numpy as np

salaries = np.array(salaries_list)

max_salary = max(salaries)
min_salary = min(salaries)

print(max_salary, min_salary)

95000 60000

In [22]:
# Or use:

import numpy as np
salaries_list = [70000, 85000, 60000, 95000, 80000]
salaries = np.array(salaries_list)
highest_salary = np.max(salaries)
lowest_salary = np.min(salaries)
print(highest_salary, lowest_salary)

95000 60000

---